<html>
<head>
    <title>{{ app_name | default(value="legitima") }}</title>
    <link rel="stylesheet" href="/static/bulma.min.css">
    <link rel="stylesheet" href="/static/base.css">
    {% block head %}{% endblock %}
</head>
<body>
    {% block main %}{% endblock %}
    {% block content %}{% endblock %}
</body>
</html>
